/*   !/usr/bin/env python
    Name: Thomas Verouden
    Student number: 10779272

    This file determines the style of the given classes of the .js file.

    python -m http.server 8888 &
    http://localhost:8888/project.html

    */


    body {
      font: 10px sans-serif;
      background-color: white;
      /* #fcfc83 */
    }

    /* wrapper div for placing 2 divs next to eachother */
    #container {
      position: relative;
      width: 1400px;
      height: 700px;
      overflow: hidden; /* for next to eachother instead of under */
    }

    /* for line-chart */
    #line_div {
      position: relative;
      float:left;
      width: 700px;
      height: 500px;

    }

    /* for pie-chart */
    #pie_div {
      position: relative;
      width: 600px;
      height: 500px;
      overflow:hidden; /* this is so it can be placed right of line_div */
    }


    /* width of container where year slider is in */
    .slidecontainer {
      width: 600px; /* same size as map_div */
    }

    /* style for the slider */
    .slider {
      -webkit-appearance: none;
      width: 100%; /* 100% of container */
      height: 15px;
      background: #acadaf;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    /* for chrome/safari/opera */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #ff9400;
      cursor: pointer;
    }

    /* for mozilla firefox */
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #ff9400;
      cursor: pointer;
    }

    /* for the: [whole USA] button */
    .reset_button {
      background-color: #ff9400;
      opacity: 0.8;
      border: none;
      color: black;
      padding: 15px 25px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
    }

    .reset_button:hover {
      background-color: #ffb200;
    }

    /* for the piechart */
    .pieGroup {
      stroke-width: 2px;
      opacity: 0.7;
    }

    /* pie-chart annotation */
    .pieAnno {
      text-anchor: middle;
      font-size: 17;
    }


    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    /* creates a black box for tooltip */
    .d3-tip {
      box-sizing: border-box;
      line-height: 1;
      font-weight: bold;
      font-size: 12px;
      padding: 12px;
      width: 185px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
